
# Rename this file to .env and fill your connection string
ATLASDB_URL=mongodb+srv://vickyk5244:EQcpWhZcM2yYTFTx@cluster0.prh1aj1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

PORT=4000
